#first {
    margin-top: 45px;

    padding-left: 20px;
    padding-right: 20px;

    .row {
        .left-content {
            p:first-child {
                color: $purple;
                font-size: 18px;
                font-weight: map-get($map: $font-weights, $key: semiBold);
                line-height: 10px;
            }

            h3 {
                color: $black;
                font-size: 96px;
                font-weight: map-get($map: $font-weights, $key: semiBold);
                line-height: 70px;

                margin-top: 0;
            }

            p {
                margin-top: 15px;

                color: $black;
                font-size: 20px;
                font-weight: map-get($map: $font-weights, $key: regular);
                line-height: 30px;
            }
        }

        .right-content {
            margin-top: 5%;
            // margin-left: 1%;
            .video {
                position: relative;

                width: 95%;
                height: 70vh;

                border-radius: 15px;
                background-color: $grey;

                .row {
                    .block {
                        width: 50%;
                        height: 100%;
    
                        position: absolute;
                        z-index: 2;
                        
                        background-color: $black;
                        border-radius: 15px;
                    }
    
                    .first {
                        top: -12%;
                        left: -8%;
    
                        width: 80%;
                        height: 100%;
    
                        background-color: transparent;
    
                        .top {
                            position: relative;
    
                            width: 100%;
                            height: 100%;
    
                            .behind {
                                position: absolute;
                                z-index: 0;
                                top: -4%;
                                left: -4%;
        
                                width: 25%;
                                height: 26%;
        
                                border-radius: 15px;
                                border: 2px solid $purple;
                            }
        
                            .box {
                                position: absolute;
                                z-index: 1;
    
                                width: 25%;
                                height: 26%;
        
                                background-color: $black;
                                border-radius: 15px;
                            }
                        }
    
                        .mid {
                            position: absolute;
                            top: 40%;
                            left: -7%;
    
                            width: 32%;
                            height: 36%;
    
                            background-color: $black;
                            border-radius: 15px;

                            .dot-block {
                                width: 140px;
                                height: 200px;

                                position: absolute;
                                z-index: -1;
                                bottom: -90%;
                                left: -40%;
                                
                                // background-color: black;
                                background-image: url('/assets/images/dot-bg.png');
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                        }
    
                        .bottom {
                            position: absolute;
                            bottom: -16%;
    
                            width: 70%;
                            height: 12%;
    
                            background-color: #ffffff;
                            // TODO: Tambah boxshadow
                            border-radius: 15px;
                        }
                    }
    
                    .second {   
                        right: 0;

                        width: 50%;
                        height: 100%;

                        background-color: transparent;

                        .top {
                            position: absolute;
                            top: -13%;
                            right: -13%;
        
                            width: 40%;
                            height: 26%;
                            background-color: $black;
        
                            border-radius: 0;
                        }

                        .mid {
                            position: absolute;
                            top: 30%;
                            right: -14%;
        
                            width: 35%;
                            height: 24%;
        
                            border: 3px solid $purple;
                            border-radius: 15px;

                            padding: 10px;

                            div {
                                width: 100%;
                                height: 100%;

                                background-color: $black;
                                border-radius: 15px;
                            }
                        }

                        .bottom {
                            position: absolute;
                            bottom: -2%;
                            right: -15%;
        
                            width: 70%;
                            height: 40%;
        
                            border-radius: 15px;
                            background-color: $black;
                        }
                    }   
                }
            }
        }
    }

    .details {
        .items {
            display: flex;
            align-items: start;
            .icons {
                width: 30px;
                height: 30px;
                background-image: url("/assets/images/icon-produced.png");
                background-size: cover;

                margin-right: 10px;
            }

            #release {
                background-image: url("/assets/images/icon-release.png");
            }

            #present {
                background-image: url("/assets/images/icon-present.png");
            }
            
            .title {
                font-size: 20px;
                color: $black;
                font-weight: map-get($map: $font-weights, $key: medium);

                margin-bottom: 0;
            }

            .content {
                max-width: 100%;
                font-size: 15px;
                font-weight: map-get($map: $font-weights, $key: regular);
                line-height: 23px;
            }
        }
    }

}