.navbar-tp {
  padding-top: 10px;
}
.navbar-tp a {
  color: #1F1449;
  font-size: 32px;
  font-weight: 600;
}
.navbar-tp .navbar-nav .nav-item {
  margin-right: 100px;
}
.navbar-tp .navbar-nav .active {
  color: #5C40CC !important;
}
.navbar-tp .navbar-nav .nav-link {
  color: #1F1449;
  font-size: 18px;
  font-weight: 500;
}

#first {
  margin-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
}
#first .row .left-content p:first-child {
  color: #5C40CC;
  font-size: 18px;
  font-weight: 600;
  line-height: 10px;
}
#first .row .left-content h3 {
  color: #1F1449;
  font-size: 96px;
  font-weight: 600;
  line-height: 70px;
  margin-top: 0;
}
#first .row .left-content p {
  margin-top: 15px;
  color: #1F1449;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
#first .row .right-content {
  margin-top: 5%;
}
#first .row .right-content .video {
  position: relative;
  width: 95%;
  height: 70vh;
  border-radius: 15px;
  background-color: #D9D9D9;
  background-image: url("/assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
}
#first .row .right-content .video .row .block {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #1F1449;
  border-radius: 15px;
}
#first .row .right-content .video .row .first {
  top: -12%;
  left: -8%;
  width: 80%;
  height: 100%;
  background-color: transparent;
}
#first .row .right-content .video .row .first .top {
  position: relative;
  width: 100%;
  height: 100%;
}
#first .row .right-content .video .row .first .top .behind {
  position: absolute;
  z-index: 0;
  top: -4%;
  left: -4%;
  width: 25%;
  height: 26%;
  border-radius: 15px;
  border: 2px solid #5C40CC;
}
#first .row .right-content .video .row .first .top .box {
  position: absolute;
  z-index: 1;
  width: 25%;
  height: 26%;
  background-color: #1F1449;
  border-radius: 15px;
  background-image: url("/assets/images/andres.jpg");
  background-size: cover;
  background-position: center;
}
#first .row .right-content .video .row .first .mid {
  position: absolute;
  top: 40%;
  left: -7%;
  width: 32%;
  height: 36%;
  background-color: #1F1449;
  border-radius: 15px;
  background-image: url("/assets/images/venis.jpg");
  background-size: cover;
  background-position: center;
}
#first .row .right-content .video .row .first .mid .dot-block {
  width: 140px;
  height: 200px;
  position: absolute;
  z-index: -1;
  bottom: -90%;
  left: -40%;
  background-image: url("/assets/images/dot-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#first .row .right-content .video .row .first .bottom {
  position: absolute;
  bottom: -16%;
  width: 70%;
  height: 12%;
  background-color: #ffffff;
  border-radius: 15px;
}
#first .row .right-content .video .row .second {
  right: 0;
  width: 50%;
  height: 100%;
  background-color: transparent;
}
#first .row .right-content .video .row .second .top {
  position: absolute;
  top: -13%;
  right: -13%;
  width: 40%;
  height: 30%;
  background-color: #1F1449;
  border-radius: 0;
  background-image: url("/assets/images/ibs.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
#first .row .right-content .video .row .second .mid {
  position: absolute;
  top: 30%;
  right: -14%;
  width: 35%;
  height: 24%;
  border: 3px solid #5C40CC;
  border-radius: 15px;
  padding: 10px;
}
#first .row .right-content .video .row .second .mid div {
  width: 100%;
  height: 100%;
  background-color: #1F1449;
  border-radius: 15px;
  background-image: url("/assets/images/witchs.jpg");
  background-size: cover;
  background-position: center;
}
#first .row .right-content .video .row .second .bottom {
  position: absolute;
  bottom: -2%;
  right: -15%;
  width: 70%;
  height: 40%;
  border-radius: 15px;
  background-color: #1F1449;
  background-image: url("/assets/images/rodiks.jpg");
  background-size: cover;
  background-position: center;
}
#first .details .items {
  display: flex;
  align-items: start;
}
#first .details .items .icons {
  width: 30px;
  height: 30px;
  background-image: url("/assets/images/icon-produced.png");
  background-size: cover;
  margin-right: 10px;
}
#first .details .items #release {
  background-image: url("/assets/images/icon-release.png");
}
#first .details .items #present {
  background-image: url("/assets/images/icon-present.png");
}
#first .details .items .title {
  font-size: 20px;
  color: #1F1449;
  font-weight: 500;
  margin-bottom: 0;
}
#first .details .items .content {
  max-width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}

@media screen and (max-width: 800px) {
  #first {
    padding: 0;
  }
  .left-content {
    margin-bottom: 100px;
  }
  .dot-block {
    display: none;
  }
  .details {
    margin-top: 50px;
  }
}
#about {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 80px;
}
#about .container-fluid {
  height: 100%;
  padding: 0 40px;
}
#about .container-fluid .preview {
  height: 100vh;
}
#about .stack {
  width: 100%;
  height: 100%;
  position: relative;
}
#about .stack .card {
  width: 85%;
  height: 70%;
  border-radius: 15px;
  background-color: #1F1449;
  background-image: url("/assets/images/group.jpg");
  background-size: cover;
}
#about .stack .card:first-child {
  position: absolute;
  top: 20%;
  left: 80px;
  z-index: 2;
}
#about .stack .card:last-child {
  background-color: #D9D9D9;
  background-image: url("/assets/images/group-2.jpg");
}
#about .stack .card:last-child:hover {
  animation: 1s;
  transition: ease-in-out;
  z-index: 3;
}
#about .stack .card:last-child:hover::before {
  background-color: rgba(0, 0, 0, 0);
  transition: ease-in-out;
}
#about .stack .card:last-child::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}
#about .about h3 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 69px;
  color: #1F1449;
}
#about .about p {
  text-align: justify;
  overflow: hidden;
}
#about .about li {
  width: 100%;
  list-style: none;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
#about .about li .icon-check {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-image: url("/assets/images/icon-check.png");
  background-size: contain;
}
#about .about li .title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #1F1449;
}

#team {
  margin-top: 120px;
  width: 100%;
  padding: 0 40px;
}
#team h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 69px;
  color: #1F1449;
}
#team .cards-container {
  display: flex;
}
#team .cards {
  width: 25%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
#team .cards .img {
  width: 100%;
  height: 270px;
  background-color: #1F1449;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
#team .cards .img.first {
  background-image: url("/assets/images/andrea.jpg");
}
#team .cards .img.second {
  background-image: url("/assets/images/veni.jpg");
}
#team .cards .img.third {
  background-image: url("/assets/images/yoges.jpg");
}
#team .cards .img.fourth {
  background-image: url("/assets/images/rodrick.jpg");
}
#team .cards .content {
  width: 100%;
  height: 170px;
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  padding: 10px 15px;
}
#team .cards .content h5 {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
#team .cards .content p {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
#team .cards .content ul {
  padding-left: 15px;
}
#team .cards .content ul li {
  list-style: none;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
#team .cards .content ul li .icon-check {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url("/assets/images/icon-check.png");
  background-size: contain;
}

.btn {
  border-radius: 10px;
  padding: 15px;
  border: none;
  background-color: #5C40CC;
}
.btn img.icon-play {
  width: 30px;
  height: 30px;
}

.btn.explore {
  padding: 15px 32px;
  background-color: #DBD7EC;
  color: #5C40CC;
  margin-right: 30px;
}

#footer {
  margin-top: 73px;
  width: 100%;
  height: 40vh;
  background-color: #1F1449;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer h4 {
  color: #fff;
}
#footer p {
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  zoom: 1;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #F9F9FB;
  background-image: url("/assets/images/circle-bg.png");
  background-size: 120vh;
  background-position-x: right;
  background-repeat: no-repeat;
}

.modal {
  width: 100vw !important;
  height: 100vh !important;
}
.modal .modal-dialog {
  margin: 0;
}
.modal .modal-dialog .modal-content {
  width: 100vw !important;
}
.modal .modal-dialog .modal-content .modal-body {
  width: 100vw;
  height: 80vh;
}
.modal .modal-dialog .modal-content .modal-body iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  body {
    zoom: 0.75;
  }
}/*# sourceMappingURL=main.css.map */