@import './components/nav';
@import './components/colors';
@import './components/first';
@import './components/about';
@import './components/team';
@import './components/button';
@import './components/footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;

    background-color: $background;
    background-image: url('/assets/images/circle-bg.png');
    background-size: 120vh;
    background-position-x: right;
    background-repeat: no-repeat;
}

.modal {
    width: 100vw !important;
    height: 100vh !important;

    .modal-dialog {
        margin: 0;
        .modal-content {
            width: 100vw !important;

            .modal-body {
                width: 100vw;
                height: 80vh;

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
